
BibliotecaSpring/target/*
BibliotecaSpring/target/*.*



BibliotecaSpring/pom.xml
*.class
BibliotecaSpring/.factorypath
BibliotecaSpring/.classpath
*.jar
BibliotecaSpring/.project
*.prefs
BibliotecaSpring/target/classes/static/img/Error Hibernate_ Objeto no guardado_files/*
BibliotecaSpring/target/classes/chromedriver/chromedriver.exe
