<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Add Lector</title>

</head>

<body>

	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3>Nuevo Socio</h3>

		<form action="#" th:action="@{/savelector}" th:object="${lector}" method="post">
			<input th:field="*{nombre}" type="text" placeholder="Escriba el nombre" class="form-control mb-4 col.4">
			<input th:field="*{telefono}" type="text" placeholder="Escriba el telefono" class="form-control mb-4 col.4">
			<input th:field="*{direccion}" type="text" placeholder="Escriba la dirección "
				class="form-control mb-4 col.4">
			<br>
			<button type="submit" class="btn btn-info col-2">Guardar socio</button>
		</form>
		<hr>
		<a th:href="@{/admin/lectores}">Volver</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>