<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Mostrar lectores</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
	<header th:replace="~{fragment/fragment :: header}"> </header>
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Teléfono</th>
				<th>Dirección</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="lector:${lectores}">
				<td th:text="${lector.nombre}"></td>
				<td th:text="${lector.telefono}"></td>
				<td th:text="${lector.direccion}"></td>
				<td><a class="btn btn-primary">Ver prestamos</a>
					<a class="btn btn-primary">Ver multas</a>
					<a class="btn btn-primary">Actualizar</a>
					<a class="btn btn-danger">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a th:href="@{'/addlector'}" class="btn btn-primary">Add lector</a>
	</div>
	<footer th:replace="~{fragment/fragment :: footer}"></footer>
</body>

</html>