<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head" />
	<title>Mostrar lectores</title>
</head>

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h3>Socios</h3>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Teléfono</th>
					<th>Dirección</th>
					<th>Dirección</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.lector.nombre}"></td>
					<td th:text="${user.lector.telefono}"></td>
					<td th:text="${user.lector.direccion}"></td>
					<td th:text="${user.email}"></td>
					<td><a th:href="@{'/prestamos/' +${user.lector.idlector}}" class="btn btn-info">Ver prestamos</a>
						<a class="btn btn-warning">Ver multas</a>
						<a th:href="@{'/updatelector/'+${lector.idlector}}" class="btn btn-primary">Actualizar</a>
						<a th:onclick="return confirm('¿Estás seguro de que deseas eliminar este socio?')"
							th:href="@{'/deletelector/'+${user.id}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<div class="text-center my-2">
			<a sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/addlector'}" class="btn btn-success">Add lector</a>
		</div>-->
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>