<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mensaje de Sanción</title>
</head>
<body>
    <h1>Mensaje de Sanción</h1>
    <p>Lo sentimos, tienes una sanción pendiente debido a retraso en la devolución de libros.</p>
    <p>Para poder realizar nuevos préstamos, primero debes pagar la sanción.</p>
    <p>Por favor, comunícate con el personal de la biblioteca para resolver este asunto.</p>
    <!-- Puedes agregar más detalles o instrucciones según tus necesidades -->
</body>
</html>
