<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Add Prestamo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
	<header th:replace="~{fragment/fragment :: header}"> </header>
	<h3>Nuevo Prestamo de: <span th:text="${lector.nombre}"></span> </h3>
	<form action="#" th:action="@{/save}" th:object="${prestamo}" method="post">
		
		<p>Fecha inicio
		<input th:field="*{fechaInicio}" type="date"  class="form-control mb-4 col-4">
		</p>
		<p>Fecha fin
		<input th:field="*{fechaFin}" type="date"  class="form-control mb-4 col-4">
		</p>
		<p> Copia
			<select name="copia">
				<option value="">Selecciona</option>
				<option th:each="copia : ${copias}"
					th:value="${copia.idcopia}" th:text="${copia.libro.titulo}">
				</option>
			</select>
		</p>
		<input th:field="*{lector.idlector}" type="hidden">
		<button type="submit" class="btn btn-info col-2">Guardar libro</button>
	</form>
	<hr>
	<a th:href="@{'/prestamos/'+${lector.idlector}}">Volver</a>
	<footer th:replace="~{fragment/fragment :: footer}"></footer>
</body>

</html>