<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Update autor</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
	<header th:replace="~{fragment/fragment :: header}"> </header>
	<h3>Autor: <span th:text="${autor.nombre}"> </span></h3>
	<h3>Nacionalidad: <span th:text="${autor.nacionalidad}"></span> </h3>
	<h3>fecha nacimiento: <span th:text="${autor.fechaNacimiento}"></span> </h3>
	<form action="#" th:action="@{/saveautor}" th:object="${autor}" method="post">
		<input th:field="*{nombre}" type="text" placeholder="Nombre" class="form-control mb-4 col-4">
		<input th:field="*{Nacionalidad}" type="text" placeholder="Nacionalidad" class="form-control mb-4 col-4">
		<p>Fecha de nacimiento
			<input th:field="*{fechaNacimiento}" type="date" class="form-control mb-4 col-4">
		</p>
		<input th:field="*{idautor}" type="hidden">
		<button type="submit" class="btn btn-info col-2">Guardar autor</button>
	</form>
	<hr>
	<a th:href="@{/autores}">Volver</a>
	<footer th:replace="~{fragment/fragment :: footer}"></footer>
</body>

</html>