<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>AltaCurso</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
	<header th:replace="~{fragment/fragment :: header}"> </header>
	<h3>Nuevo libro</h3>
	<form action="#" th:action="@{/save}" th:object="${libro}" method="post">
		<input th:field="*{titulo}" type="text" placeholder="inserte el libro" class="form-control mb-4 col-4">
		<input th:field="*{editorial}" type="text" placeholder="inserte la editorial" class="form-control mb-4 col-4">
		<input th:field="*{anyo}" type="number" placeholder="inserte el año" class="form-control mb-4 col-4">

		<p> TIPO LIBRO
			<select name="tipo">
				<option value="">Selecciona</option>
				<option th:each="tipo : ${T(com.capgemini.bibliotecaSpring.enumerados.TipoLibro).values()}"
					th:value="${tipo}" th:text="${tipo}">
				</option>
			</select>
		</p>

		<p>
			autor:
			<select name="autores">
				<option value="">
					Selecciona
				</option>
				<option th:each="autor : ${autores}" th:value="${autor.idautor}" th:text="${autor.nombre}">
					Categoría
				</option>
			</select>
		</p>

		<button type="submit" class="btn btn-info col-2">Guardar libro</button>
	</form>
	<hr>
	<a th:href="@{/}">Volver</a>
	<footer th:replace="~{fragment/fragment :: footer}"></footer>
</body>

</html>