
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Mostrar libros</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{fragment/fragment :: header}"> </header>
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Título</th>
				<th>Editorial</th>
				<th>Año</th>
				<th>Género</th>
				<th>Autores</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="libro:${libros}">
				<td th:text="${libro.titulo}" ></td>
				<td th:text="${libro.editorial}" ></td>
				<td th:text="${libro.anyo}" ></td>
				<td th:text="${libro.tipo}" ></td>
				<td th:text="${libro.autor.nombre}" ></td>
				<td><a class="btn btn-primary">Actualizar</a>
						<a th:href="@{'/deletelibro/'+${libro.idlibro}}" class="btn btn-danger">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
	<div>
		<a th:href="@{'/addlibro'}" class="btn btn-primary">Add libro</a>
	</div>
	<footer th:replace="~{fragment/fragment :: footer}"></footer>
</body>
</html>